<div>
  <button (click)="_toggleOpened()">Open</button>
</div>

<div style="height:100vh;">
  <isidebar-container
(onBackdropClicked)="_onBackdropClicked()">
<isidebar
[(opened)]="_opened"
[mode]="_MODES[_modeNum]"
[keyClose]="_keyClose"
[position]="_POSITIONS[_positionNum]"
[dock]="_dock"
[dockedSize]="'50px'"
[autoCollapseHeight]="_autoCollapseHeight"
[autoCollapseWidth]="_autoCollapseWidth"
[closeOnClickOutside]="_closeOnClickOutside"
[closeOnClickBackdrop]="_closeOnClickBackdrop"
[showBackdrop]="_showBackdrop"
[animate]="_animate"
[trapFocus]="_trapFocus"
[autoFocus]="_autoFocus"
[sidebarClass]="'demo-sidebar'"
[ariaLabel]="'My sidebar'"
(onOpenStart)="_onOpenStart()"
(onOpened)="_onOpened()"
(onCloseStart)="_onCloseStart()"
(onClosed)="_onClosed()"
(onTransitionEnd)="_onTransitionEnd()">
<p>Sidebar contents</p>

<button class="demo-control" style="float:right" (click)="_toggleOpened()">Open sidebar</button>

<p><a closeSidebar>This will close the sidebar too</a></p>

<hr>

<p>Throwup on your pillow.</p>
<p>Steal the warm chair right after you get up.</p>
<p>Use lap as chair hide head under blanket.</p>
<p>Walk on car leaving trail of paw prints on hood.</p>
<p>Steal the warm chair right after you get up.</p>
</isidebar>
</isidebar-container>

</div>

